#carousel{
    padding: 50px 10px;
    overflow: hidden;
    width: 100%;
}

#carousel h1{
    font-size: 30px;
}


#carousel .slides{
    display: flex;
    gap: 15px;
    position: relative;
    width: 205px;
    transition: transform ease-out 0.3s;
}

#carousel .item{
    border: 2.5px solid rgba(170, 170, 170, 0.747);
    border-radius: 8px;
}

#carousel .item img{
    width: 300px;
    height: 300px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

#carousel .item h3{
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 16px;
    color: #444;
}

#carousel .indicators{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
}

#carousel .indicators .indicator{
    width: 10px;
    height: 10px;
    border: none;
    background-color: #9e9e9e;
    border-radius: 50%;
    cursor: pointer;
}

#carousel .indicators .indicator.active{
    background-color:orangered;
    width: 20px;
    border-radius: 555px;
}

#carousel .indicators .indicator:hover{
    background-color:rgb(250, 121, 74);
}

#carousel .controls{
    position: absolute;
    transform: translateY(-50%);
    display: flex;
    top: 50%;
    left: 0;
    right: 0;
    justify-content: space-between;
}

#carousel .controls .next{
    position: absolute;
    right: 5px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

#carousel .controls .prev{
    position: absolute;
   left: 5px;
   border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}